.todo-items {
    width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem; 
    
}

.todos-trash {
    margin-left: auto;

}

.counter {
    width: 30rem;
    display: flex;
    margin-inline:auto; 
    margin-top: 1rem;
    font-size: smaller;
    color: rgb(182, 169, 169);
    
}

