body {
    background-color: darkcyan;
}

p {
   color: azure;
}
.todo-list {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; 
}

.text-input {
    width: 22rem; 
}

